In [ ]:
# BASIC LEVEL

In [1]:
# 1. Print numbers from 1 to 10 using a for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:

# 2. Calculate the sum of all numbers in a list using a for loop
numbers_list = [1, 2, 3, 4, 5]
sum_result = 0
for num in numbers_list:
    sum_result += num
print("Sum:", sum_result)

Sum: 15

In [3]:
# 3. Print characters of a string in reverse order using a for loop
my_string = "Hello"
for char in reversed(my_string):
    print(char)

o
l
l
e
H

In [4]:
# 4. Find the factorial of a given number using a for loop
number = 5
factorial_result = 1
for i in range(1, number + 1):
    factorial_result *= i
print("Factorial:", factorial_result)

Factorial: 120

In [5]:
# 5. Print the multiplication table of a given number using a for loop
multiplier = 3
for i in range(1, 11):
    print(f"{multiplier} x {i} = {multiplier * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [6]:
# 6. Count the number of even and odd numbers in a list using a for loop
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_count = 0
odd_count = 0
for num in numbers_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Even count:", even_count)
print("Odd count:", odd_count)

Even count: 4
Odd count: 5

In [7]:
# 7. Print squares of numbers from 1 to 5 using a for loop
for i in range(1, 6):
    print(f"{i} squared is {i**2}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [8]:
# 8. Find the length of a string without using len() function
my_string = "Hello, World!"
length = 0
for char in my_string:
    length += 1
print("Length:", length)

Length: 13

In [9]:
# 9. Calculate the average of a list of numbers using a for loop
numbers_list = [1, 2, 3, 4, 5]
total_sum = 0
for num in numbers_list:
    total_sum += num
average = total_sum / len(numbers_list)
print("Average:", average)

Average: 3.0

In [10]:
# 10. Print the first n Fibonacci numbers using a for loop
n = 5
fibonacci_sequence = [0, 1]
for _ in range(2, n):
    next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_number)
print("Fibonacci sequence:", fibonacci_sequence)

Fibonacci sequence: [0, 1, 1, 2, 3]

In [11]:
#  INTERMEDIATE LEVEL

In [12]:
#  Write a program to check if a given list contains any duplicates using a for loop.
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False

my_list = [1, 2, 3, 4, 5, 1]
print("Has duplicates:", has_duplicates(my_list))

Has duplicates: True

In [13]:
# Question: Create a program that prints the prime numbers in a given range using a for loop.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start_range = 1
end_range = 20
print("Prime numbers:", [num for num in range(start_range, end_range + 1) if is_prime(num)])

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19]

In [14]:
# Develop a program that counts the number of vowels in a string using a for loop.
def count_vowels(string):
    vowels = "aeiouAEIOU"
    vowel_count = 0
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count

my_string = "Hello, World!"
print("Number of vowels:", count_vowels(my_string))

Number of vowels: 3

In [15]:
#  Write a program to find the maximum element in a 2D list using a nested for loop.
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
max_element = max(max(row) for row in matrix)
print("Maximum element:", max_element)

Maximum element: 9

In [16]:
# Question: Create a program that removes all occurrences of a specific element from a list using a for loop.
def remove_element(lst, target):
    lst = [item for item in lst if item != target]
    return lst

my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
result_list = remove_element(my_list, element_to_remove)
print("List after removal:", result_list)

List after removal: [1, 3, 4, 5]

In [17]:
#  Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested for loop.
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [18]:
#  Write a program that converts a list of Fahrenheit temperatures to Celsius using a for loop.
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

fahrenheit_temperatures = [32, 68, 104, 140]
celsius_temperatures = [fahrenheit_to_celsius(temp) for temp in fahrenheit_temperatures]
print("Celsius Temperatures:", celsius_temperatures)

Celsius Temperatures: [0.0, 20.0, 40.0, 60.0]

In [19]:
# Question: Create a program that prints the common elements from two lists using a for loop.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = [item for item in list1 if item in list2]
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [20]:
# Question: Develop a program that prints the pattern of right-angled triangles using a for loop.
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [21]:
# Question: Write a program to find the greatest common divisor (GCD) of two numbers using a for loop.
def find_gcd(x, y):
    while y:
        x, y = y, x % y
    return x

num1 = 48
num2 = 36
gcd_result = find_gcd(num1, num2)
print("GCD:", gcd_result)

GCD: 12

In [22]:
# ADVANCED LEVEL

In [23]:
#  Create a program that calculates the sum of digits of numbers in a list using list comprehension.
numbers_list = [123, 45, 678, 9]
sum_of_digits = [sum(int(digit) for digit in str(num)) for num in numbers_list]
print("Sum of digits:", sum_of_digits)

Sum of digits: [6, 9, 21, 9]

In [24]:
#  Write a program to find the prime factors of a given number using a for loop and list comprehension.
def prime_factors(n):
    factors = [i for i in range(2, n+1) if n % i == 0 and all(i % j != 0 for j in range(2, i))]
    return factors

number = 36
prime_factors_list = prime_factors(number)
print("Prime factors:", prime_factors_list)

Prime factors: [2, 3]

In [25]:
#  Develop a program that extracts unique elements from a list and stores them in a new list using list comprehension.
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = list(set(original_list))
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5]

In [26]:
#  Create a program that generates a list of all palindromic numbers up to a specified limit using list comprehension.
limit = 100
palindromic_numbers = [num for num in range(limit) if str(num) == str(num)[::-1]]
print("Palindromic numbers:", palindromic_numbers)

Palindromic numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [27]:
# : Write a program to flatten a nested list using list comprehension.
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# : Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sum_even_odd = {"Even": sum(num for num in numbers_list if num % 2 == 0),
                "Odd": sum(num for num in numbers_list if num % 2 != 0)}
print("Sum of even and odd numbers:", sum_even_odd)

Sum of even and odd numbers: {'Even': 20, 'Odd': 25}

In [29]:
# : Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.
squares_of_odd = [num**2 for num in range(1, 11) if num % 2 != 0]
print("Squares of odd numbers:", squares_of_odd)

Squares of odd numbers: [1, 9, 25, 49, 81]

In [30]:
# : Write a program that combines two lists into a dictionary using list comprehension.
keys = ["a", "b", "c"]
values = [1, 2, 3]
combined_dict = {k: v for k, v in zip(keys, values)}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [31]:
#: Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.
my_string = "Hello, World!"
vowels_list = [char for char in my_string if char.lower() in "aeiou"]
print("Vowels:", vowels_list)

Vowels: ['e', 'o', 'o']

In [32]:
#  Create a program that removes all non-numeric characters from a list of strings using list comprehension.
strings_list = ["abc", "123", "def456", "789"]
numeric_characters = [int(char) for string in strings_list for char in string if char.isdigit()]
print("Numeric characters:", numeric_characters)

Numeric characters: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
# CHALLENGE LEVEL

In [34]:
# Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.
def sieve_of_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0], sieve[1] = False, False
    for i in range(2, int(limit**0.5) + 1):
        if sieve[i]:
            sieve[i*i:limit+1:i] = [False] * len(range(i*i, limit+1, i))
    return [num for num, is_prime in enumerate(sieve) if is_prime]

limit = 50
prime_numbers = sieve_of_eratosthenes(limit)
print("Prime numbers:", prime_numbers)

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [35]:
# Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.
limit = 20
pythagorean_triplets = [(a, b, c) for a in range(1, limit+1) for b in range(a, limit+1) for c in range(b, limit+1) if a**2 + b**2 == c**2]
print("Pythagorean triplets:", pythagorean_triplets)

Pythagorean triplets: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [36]:
# Develop a program that generates a list of all possible combinations of two lists using list comprehension.
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combinations = [(x, y) for x in list1 for y in list2]
print("Combinations:", combinations)

Combinations: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [37]:
# Write a program that calculates the mean, median, and mode of a list of numbers using list comprehension.
import statistics

numbers_list = [1, 2, 3, 4, 5, 6, 3, 4, 5, 5]
mean = sum(numbers_list) / len(numbers_list)
median = sorted(numbers_list)[len(numbers_list) // 2]
mode = max(set(numbers_list), key=numbers_list.count)

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 3.8
Median: 4
Mode: 5

In [44]:
# Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension.
def generate_pascals_triangle(rows):
    triangle = [[1]]
    for row in range(1, rows):
        previous_row = triangle[-1]
        new_row = [1] + [previous_row[i-1] + previous_row[i] for i in range(1, row)] + [1]
        triangle.append(new_row)
    return triangle

num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
print("Pascal's Triangle:")
for row in pascals_triangle:
    print(row)

Pascal's Triangle:
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [39]:
# Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.
import math

factorials_sum_digits = [sum(int(digit) for digit in str(math.factorial(num))) for num in range(1, 6)]
print("Sum of digits of factorials:", factorials_sum_digits)

Sum of digits of factorials: [1, 2, 6, 6, 3]

In [40]:
# Write a program that finds the longest word in a sentence using list comprehension.
sentence = "This is a sample sentence to find the longest word."
longest_word = max(word.strip(".,") for word in sentence.split())
print("Longest word:", longest_word)

Longest word: word

In [41]:
# Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.
strings_list = ["hello", "world", "python", "programming"]
filtered_strings = [string for string in strings_list if sum(1 for char in string if char.lower() in "aeiou") > 3]
print("Filtered strings:", filtered_strings)

Filtered strings: []

In [42]:
# Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list comprehension.
sum_digits_1_to_1000 = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]
print("Sum of digits for numbers 1 to 1000:", sum_digits_1_to_1000)

Sum of digits for numbers 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

In [43]:
# Write a program that generates a list of prime palindromic numbers using list comprehension.
def is_palindrome(n):
    return str(n) == str(n)[::-1]

prime_palindromes = [num for num in sieve_of_eratosthenes(1000) if is_palindrome(num)]
print("Prime palindromic numbers:", prime_palindromes)

Prime palindromic numbers: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]